@charset "UTF-8";
body,td,th {
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
	font-family: montserrat;
}
body {
	background-color: #000000;
}
h5 {
	font-size: small;
}
h1 {
	font-size: xx-large;
}
h2 {
	font-size: x-large;
}
h3 {
	font-size: larger;
}
h4 {
	font-size: large;
}
h6 {
	font-size: x-small;
}

#mainwrapper header {
	overflow: auto;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-radius: 4px;
	border-spacing: 0px 0px;
	background-color: rgba(0,0,0,1.00);
}
#hearderbar {
	/* Header bar at the up of the page */
	height: 10px;
	clear: both;
	background-color: rgba(0,0,0,1.00);
	width: 100%;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-size: auto auto;
}
#mainwrapper header #logo a{
	/* Company Logo text */
	width: 28%;
	float: left;
	padding-left: 2%;
	padding-top: 8px;
	padding-bottom: 6px;
	color: rgba(253,253,253,1.00);
	letter-spacing: 10%;
	font-style: normal;
	font-weight: bolder;
	font-size: x-large;
	text-shadow: 0px 0px;
	text-decoration: none;
}
#mainwrapper header nav {
	/*Nav bar containing links in header */
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	width: 68%;
	float: left;
	color: rgba(255,255,255,1.00);
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	font-size: larger;
}
header nav a {
	/* Links in header */
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	
}
#content #mainContent h1, #content #mainContent h2    {
	/* Styling for main headings */
	color: rgba(146,146,146,1.00);
}
#content #mainContent h3 {
	/*Captions ot Taglines */
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(255,255,255,1.00);
}
#content #mainContent #bannerImage {
	/*Container for main banner image */
	width: 100%;
	background-color: rgba(208,207,207,1.00);
}
#content #mainContent p {
	/* All paragraphs under maincontent */
	color: rgba(146,146,146,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	text-align: justify;
}
#content #mainContent #authorInfo {
	/* Author info section */
	background-color: rgba(208,207,207,1.00);
}
#content #mainContent #authorInfo h2, #content #mainContent #authorInfo p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 11px;
}
#content #mainContent #authorInfo p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
}
footer article  {
	/* Footer articles */
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(255,255,255,1.00);
	font-size: medium;
}
footer article h3  {
	/* Footer article titles */
	text-align: center;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}
footer article a  {
	text-decoration: none;
	font-size: medium;
	color: rgba(255,255,255,1.00);
}
#mainContent {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	width: 22%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: rgba(0,0,0,1.00);
	margin-top: 8px;
	padding-top: 12px;
}
#mainwrapper {
	/* Container of all content */
	width: 80%;
	overflow: auto;
	margin-left: 10%;
}
#content {
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: 0px;
	color: #FFFFFF;
}
#content #sidebar input {
	/* Search box in sidebar */
	width: 98%;
	height: 32px;
}
#content #sidebar #adimage {
	/* Container for Image in sidebar */
	width: 100%;
	background-color: rgba(208,207,207,1.00);
	margin-top: 46px;
	float: none;
	overflow: auto;
}
nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
#footerbar {
	/* Footer bar at the bottom of the page */
	height: 18px;
	clear: both;
	background-color: rgba(208,207,207,1.00);
	width: 100%;

}
footer {
	/* Container for footer artices */
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
.notOnDesktop {
	/*element to be displayed only in mobile view and tabet view */
	display: none;
}
#mainContent #bannerImage img {
	/* Actual banner image */
	width: 100%;
}
#sidebar #adimage img {
	/* Image in sidebar */
	width: 100%;
	float: left;
}

#mainwrapper header nav a {
	/* Links in header */
	color: rgba(255,255,255,1.00);
	text-decoration: none;
}

#windowcontact {
	clear: both;
	float: left;
	margin-left: 12%;
	width: 76%;
	display: block;
}
#contentmitte {
	font-family: yesteryear;
	font-style: normal;
	font-weight: 400;
	/* [disabled]font-size: medium; */

}
#contenttext {
	display: block;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 3px;
	margin-left: 20px;
	font-family: yesteryear;
	font-style: normal;
	font-weight: 400;
	font-size: x-large;
	float: left;
}
#contenttext h1 {
	font-size: xx-large;
	font-family: yesteryear;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}
.kunstHaan {
	font-family: yesteryear;
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
}
.impressum {
	color: #FFFFFF;
}
.banner1 {
	color: #FFFFFF;
}
.image1 {
}





/* Tablet view */
@media screen and (max-width:769px){
.notOnDesktop {
	/* Search box shown only in mobile view and Tablet view */
	display: block;
	text-align: right;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 96%;
}
#content .notOnDesktop input {
	height: 28px;
}
#mainContent {
	/* Container for the blog post */
	padding-top: 0px;
	float: none;
	width: 96%;
}
#sidebar input {
	/* Search box in sidebar */
	display: none;
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	float: none;
	width: 92%;
	padding-top: 13px;
	overflow: auto;
	margin-top: 3px;
	margin-left: 2%;
	padding-bottom: 13px;
}
#content #sidebar #adimage {
	/* Image in sidebar */
	width: 60%;
	margin-top: 0px;
	float: left;
}
#content #sidebar nav {
	/* Navigation links in sidebar */
	width: 36%;
	float: left;
	padding-left: 4%;
}
#sidebar nav ul {
	margin-top: 0px;
}
footer {
	/* Footer region */
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
#content footer article {
	/*Each footer article */
	width: 46%;
	text-decoration: none;
}
#mainwrapper header {
	/* Header */
	width: 100%;
}
}

/* Mobile view */
@media screen and (max-width:480px){
#mainwrapper header #logo {
	/* Company Logo text in header */
	width: 96%;
	margin-left: 2%;
}
#mainwrapper header nav {
	/*navigation links in header */
	text-align: center;
	background-color: rgba(255,255,255,1.00);
	width: 98%;
}
#content #sidebar #adimage {
	/* Container for image in sidebar */
	width: 100%;
}
#content #sidebar nav {
	/* Navigation bar for links in sidebar */
	width: 96%;
	padding-top: 7px;
}
#sidebar nav ul li {
	display: inline-block;
	width: 32%;
	text-align: center;
}
#mainwrapper #content #sidebar {
	/* sidebar */
	padding-bottom: 0px;
}
#content .notOnDesktop {
	/* Search box shown only in mobile and tablet view */
	width: 100%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}
#content .notOnDesktop input {
	width: 80%;
	text-align: center;
}
#content #mainContent h3 {
	/* Title under maincontent, if any */
	font-size: 14px;
}
#content footer article {
	/* Each foter article */
	width: 96%;
}
}
